.container-search {
  display: inline;
}

.search__input {
  font-weight: 600;
  position: relative;
  margin-top: 1.5%;
  margin-left: -5%;
  height: 30px;
  width: 25%;
  /* border: none; */
  border: var(--blue-ui);
  border-radius: 5px;
  outline: none;
  /* border-bottom: 1.5px solid #0000002f; */
}

.search__input:focus {
  background: linear-gradient(to bottom, transparent, var(--light-blue));
}

.container-search__button {
  padding: 7px 3px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(243, 244, 246);
  padding: 8px 5px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: border-color, background 1s;
}

.container-search__button:hover {
  transition: border-color, background 1s;
  background-color: var(--blue-ui);
  border-color: var(--blue-ui);
}

@media screen and (max-width: 900px) and (min-width: 801px) {
  .search__input {
    margin-top: 3%;
  }
  .container-search__button {
    margin-right: 15%;
  }
}
@media screen and (max-width: 800px) and (min-width: 580px) {
  .search__input {
    margin-top: 3%;
    margin-left: -200px;
  }
}

@media screen and (max-width: 580px) {
  .search__input {
    margin-top: 4%;
  }
}
