:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --white: #ffffff;
  --white-background: #f3f9fb;
  --white-background-2: rgb(222, 222, 254);
  /* --white-grey-light: #e7e9fc; */
  --white-grey-light: #f6f6f6;
  --white-grey: #bcc0c1;

  --figma-color: #3fa8e905;
  /* --light-blue: #e7ebf0; */
  --light-blue: #f6f6f6;

  --blue: rgb(1, 1, 99);
  --blue-ui: #1976d2;
  --blue-strong-light: #161d6f;
  --blue-light: #11698e;
  --blue-strong: #212844;
  --blue-grey: #506d84;
  --blue-black: #30475e;
  --blue-background: rgb(31, 31, 88);
  --blue-background-light: rgb(40, 40, 112);

  --sky: #008ecc;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white-grey-light);
}
